:root {
    --container-toi-text-width: 80%;
    --container-toi-text-mobile-width: 60%;
    --container-toi-text-background: rgba(0, 0, 0, 0.4);
    --container-toi-text-color: white;
}
/* 
    Container (T)ext (o)ver (i)mage

    Unspecified:
    - font
    - 'top' value of text'
*/
.container-toi {
    position: relative;
}
    .container-toi .text {
        position: absolute;
        width: var(--container-toi-text-mobile-width, 80%);
        background-color: var(--container-toi-text-background);
        color: var(--container-toi-text-color);
        padding: 15px 30px;
    }
    .container-toi img {
        width: 100%;
    }
@media all and (min-width: 700px) {
    .container-toi {
        position: relative;
    }
        .container-toi .text {
            width: var(--container-toi-text-width);
        }
}

/*
    3 column layout
*/

.columns {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    max-width: 100%;
}
    .columns .column {
        margin: 10px 20px;
        min-width: 0;
        min-height: 0;
        align-content: center;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: 0 0 10px #000000;
        flex: 1 2 300px;
    }
    .columns .text {
        padding: 20px;

        flex: 1 1 300px;
    }
    .columns .column img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
