@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
#header, #footer {
    background-color: #222629;
}
    #header a {
        color: white;
    }

.navigation-bar {
    padding: 30px;
}

#header .title a {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    color: #86C232;
    font-weight: 600;
}
.subtitle {
    font-size: 22px;
    font-weight: 300;
    color: #86C232;
}

.item {
    padding: 5px 10px;
}

.top-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

    .top-navigation li a {
        display: block;
        padding: 15px 6px;
    }

    .top-navigation li .subitem a {
        order: 1;
    }

#toggle {
    order: 1;
    font-size: 40px;
    color: white;
}
.toggle-submenu {
    font-size: 20px;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
    animation: fadein 0.5s;
}

.top-navigation .subitem a {
    background-color: #222629;
    text-align: center;
}

.logo {
    width: 100%;
    align-content: center;
}

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
#footer p {
    text-align: center;
    padding: 12px 0;
    color: white;
    font: 200 14px 'Raleway', sans-serif;
}
@media all and (min-width: 700px) {
    .top-navigation {
        justify-content: flex-start;
    }
    .item {
        padding: 10px;
    }
    .title {
        flex: 1;
    }
    .logo {
        margin-right: 30px;
        width: auto;
    }
    #toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

@media all and (min-width: 960px) {
    .top-navigation {
        flex-wrap: nowrap;
        background: none;
    }

        .top-navigation .subitem a {
            padding: 15px 30px;
        }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .contains-submenu:hover .submenu {
        position: absolute;
        left: 15px;
        top: 60px;
        z-index: 1;
        
    }
    #toggle {
        display: none;
    }
    .contains-submenu .toggle-submenu {
        display: none;
    }
    .contains-submenu:hover .submenu {
        display: inline-block;
        animation: fadein 0.5s;
    }
}